{% extends 'Offers/base.html' %}

{% block head %}
    <title>Login</title>
{% endblock %}

{% block body %}
  {% if form.errors %}
  <p>Nieprawidłowe dane</p>
  {% endif %}

  {% if next %}
  <p>Brak dostępu</p>
  {% endif %}

  <form method="post" action="{% url 'login' %}">
      {% csrf_token %}

      <p>Login: {{ form.username }}</p>
      <p>Hasło: {{ form.password }}</p>

      <p><input type="submit"  value="Zaloguj"></p>
      <input type="hidden" name="next" value="{{ next }}">
  </form>
{% endblock %}