{% extends 'Index/base.html' %}
{% load static %}
{% block head %}
{% endblock %}
{% block body %}
    <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner" >
        <div class="main-banner" >
        <video autoplay muted loop id="bg-video">
            <source src="{% static 'images/video.mp4' %}" type="video/mp4" />
        </video>
        <div class="video-overlay header-text">
            <div class="caption">
                {% if form.errors %}
                  <p>Username or password is incorrect!</p>
                  {% endif %}

                  {% if next %}
                  <p>Access denied!</p>
                  {% endif %}

                  <form method="post" style ="background: #212529AB;
                                              height: 200px;
                                              width: 400px;
                                              margin: auto;
                                              border: 1px solid #000000;
                                              border-radius: 25px;
                                              opacity: 1;
                                              padding-top: 30px;"
                        action="{% url 'login' %}">

                      {% csrf_token %}

                      <p>Username: {{ form.username }}</p>
                      <p>&nbsp;</p>
                      <p>Password: {{ form.password }}</p>
                      <p>&nbsp;</p>
                      <p><input type="submit" class="btn btn-primary"  value="Log in"></p>
                      <input type="hidden" name="next" value="{{ next }}">
                  </form>
                </div>
            </div>
        </div>
    </div>
        <div>

        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->
{% endblock %}