{% extends 'Index/base.html' %}
{% load static %}
{% block head %}
{% endblock %}
{% block body %}
    <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner" id="top">
        <div class="main-banner" id="top">
        <video autoplay muted loop id="bg-video">
            <source src="{% static 'images/video.mp4' %}" type="video/mp4" />
        </video>
        <div class="video-overlay header-text">
            <div class="caption">
                {% if form.errors %}
                  <p>Nieprawidłowe dane</p>
                  {% endif %}

                  {% if next %}
                  <p>Brak dostępu</p>
                  {% endif %}

                  <form class="login" method="post" action="{% url 'login' %}">
                      {% csrf_token %}

                      <p>Username: {{ form.username }}</p>
                      <p>&nbsp;</p>
                      <p>Password: {{ form.password }}</p>
                      <p>&nbsp;</p>
                      <p><input type="submit"  value="Log in"></p>
                      <input type="hidden" name="next" value="{{ next }}">
                  </form>
                </div>
            </div>
        </div>
    </div>
        <div>

        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->
{% endblock %}