{% extends 'Index/base.html' %}
{% load static %}
{% block head %}
{% endblock %}
{% block body %}
<!-- reCAPTCHA API -->
<script src='https://www.google.com/recaptcha/api.js?render={{6LczTeEfAAAAANM3rsBQ63TRXKhcJwHOT0skIhhY}}'>

</script>
    <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner" id="top">
        <video autoplay muted loop id="bg-video">
            <source src="{% static 'images/video.mp4' %}" type="video/mp4" />
        </video>
        <div class="video-overlay header-text">
            <div class="caption">


                    <!--
                      <script>
                          //global grecaptcha
                          grecaptcha.ready(function() {
                              grecaptcha.execute('{{6LczTeEfAAAAANM3rsBQ63TRXKhcJwHOT0skIhhY}}', {action: "/register/"}).then(function(token) {
                                  document.getElementById('g-recaptcha-response').value = token;
                              });
                          });
                      </script>
                      -->
                {% if messages %}
                  <ul class="messages" >
                      {% for message in messages %}
                      <li class="{{message.tags}}"> {{message}}</li>
                      {% endfor %}
                  </ul>
                {% endif %}


                  <form id="user_register" method="post" action="{% url 'register' %}">
                      {% csrf_token %}

                        {% if form.errors %}
                  <p>{{form.errors}}</p>
                  {% endif %}

                     <p>{{form.username.label}}
                      {{form.username}}</p>
                        <p>&nbsp;</p>
                      <p>{{form.email.label}}
                      {{form.email}}</p>
                        <p>&nbsp;</p>
                      <p>{{form.password1.label}}
                      {{form.password1}}</p>
                        <p>&nbsp;</p>
                      <p>{{form.password2.label}}
                      {{form.password2}}</p>
                        <p></p>
                      <!-- {{form.captcha}}  zdubluje sie-->

                      <div class="g-recaptcha" data-sitekey="6LczTeEfAAAAANM3rsBQ63TRXKhcJwHOT0skIhhY" ></div>
                      <input type="hidden" name="next" value="{{ next }}">
                      <button type="submit" class="btn btn-primary" >Register</button>


                      <!--
                      <p><input type="submit" class="btn btn-primary">Register</p>
                      <input type="hidden" name="next" value="{{ next }}">
                      -->
                  </form>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->
{% endblock %}