{% extends 'Index/base.html' %}
{% load static %}
{% block head %}
{% endblock %}
{% block body %}
    <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner" id="top">
        <video autoplay muted loop id="bg-video">
            <source src="{% static 'images/video.mp4' %}" type="video/mp4" />
        </video>
        <div class="video-overlay header-text">
            <div class="caption">
                  <form id="user_register" method="post" action="{% url 'register' %}">
                      {% csrf_token %}

                        {% if form.errors %}
                  <p>{{form.errors}}</p>
                  {% endif %}

                     <p>{{form.username.label}}
                      {{form.username}}</p>
                        <p>&nbsp;</p>
                      <p>{{form.email.label}}
                      {{form.email}}</p>
                        <p>&nbsp;</p>
                      <p>{{form.password1.label}}
                      {{form.password1}}</p>
                        <p>&nbsp;</p>
                      <p>{{form.password2.label}}
                      {{form.password2}}</p>
                        <p>&nbsp;</p>
                      <p><input type="submit"  value="Register"></p>
                      <input type="hidden" name="next" value="{{ next }}">
                  </form>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->
{% endblock %}