{% extends 'Index/base.html' %}
{% load static %}
{% load dict %}
{% block head %}
{% endblock %}
{% block body %}
    <section class="section section-bg" id="call-to-action" style="background-image: url({% static 'images/about-fullscreen-1-1920x700.jpg' %})">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="cta-content">
                        <br>
                        <br>
                        <br>
                        <h2>Welcome, <em>{{user.username}}</em></h2>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ***** Features Item Start ***** -->
    <section>
      <div class="container">
        <div class="text-center">

            <br>
            <br>
            <h3 style="color:#ed563b">Overview: </h3>
            <br>
             <div class="row">

                        <div class="col-sm-6">
                            <h4 style="color:#ed563b">You: </h4>
                            <br>
                        </div>

                        <div class="col-sm-6">
                            <h4 style="color:#ed563b">Company: </h4>
                        </div>

                        <div class="col-sm-6">
                            <label>Name:</label>
                            <p>{{company.user}}</p>
                            <br>
                        </div>

                        <div class="col-sm-6">
                            <label>Company name:</label>
                            <p>{{company.company_name}}</p>
                        </div>

                        <div class="col-sm-6">
                            <label>Email:</label>
                            <p>{{user.email}}</p>
                            <br>
                        </div>
                        <div class="col-sm-6">
                            <label>Email:</label>
                            <p>{{company.email}}</p>
                        </div>

                        <div class="col-sm-6">

                            <div class="main-button">
                    <a href="{% url 'addoffer' %}">Edit your profile</a>
                  </div>
                        </div>

                        <div class="col-sm-6">
                          <label>Address:</label>
                            <p>{{company.city}}, {{company.street}} {{company.street_number}}
                            {% if company.suite_number %}
                                /{{company.suite_number}}
                            {% endif %}
                            </p>
                            <p>{{company.postcode}} {{company.city}}</p>
                            <br>
                        </div>

                        <div class="col-sm-6">
                            <br>
                        </div>

                        <div class="col-sm-6">
                          <label>Phone:</label>
                            <p>{{company.phone}}</p>
                            <br>
                        </div>

                        <div class="col-sm-6">
                            <br>
                        </div>

                        <div class="col-sm-6">
                          <label>Website:</label>
                            <p>{{company.social_links}}</p>
                        </div>



                         <div class="col-sm-6">
                            <br>
                        </div>

                        <div class="col-sm-6">
                            <br>
                          <div class="main-button">
                            <a href="{% url 'edit_company' %}">Edit your company profile</a>
                          </div>
                        </div>

                    </div>



        </div>
      </div>
    </section>
    <!-- ***** Features Item End ***** -->

{% endblock %}