{% extends 'Index/base.html' %}
{% load static %}
{% block head %}
{% endblock %}
{% block body %}
    <section class="section section-bg" id="call-to-action" style="
    background-image: url({% static 'images/about-fullscreen-1-1920x700.jpg' %});
    ">

        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="cta-content">
                        <br>
                        <br>
                        <br>
                        <h2>Register your <em>company</em></h2>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ***** Features Item Start ***** -->
    <section>
        <div class="text-center" style="background: #212529AB;
                                              height: 750px;
                                              width: 450px;
                                              margin: auto;
                                              border: 1px solid #000000;
                                              border-radius: 25px;
                                              opacity: 1;
                                              padding-top: 10px;
                                              margin-top: 15px; ">
            <br>
            <br>

             {% if messages %}
                  <ul class="messages" >
                      {% for message in messages %}
                      <li class="{{message.tags}}"> {{message}}</li>
                      {% endfor %}
                  </ul>
                {% endif %}


            <!-- FORMY DJANGO DO TWORZENIA OFERTY -->
            <form method="post" enctype="multipart/form-data" action="{% url 'register_company' %}">
                <h2>Add your information</h2>
                <br>
              {% csrf_token %}

                {% if form.errors %}
                  <p>{{form.errors}}</p>
                  {% endif %}

             <p>
              {{form.company_name}}</p>
                <br>
              <p>
              {{form.city}}</p>
                <br>
                <p>
              {{form.street}}</p>
                <br>
                <p>
              {{form.street_number}}</p>
                <br>
                <p>
              {{form.suite_number}}</p>
                 <br>
                <p>
              {{form.postcode}}</p>

                <br>
                <p>
              {{form.email}}</p>
                <br>
                <p>
              {{form.phone}}</p>
                <br>
                <p>
              {{form.social_links}}</p>
                <br>
                <p>Logo:</p>

              <p>{{form.logo}}</p>
                <br>

               <p><input type="submit" class="main-button btn btn-primary" value="Add"></p>
              <input type="hidden" name="next" value="{{ next }}">

            </form>
        </div>
    </section>
    <!-- ***** Features Item End ***** -->

{% endblock %}